<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="../static/chat.js"></script>
    <title>My Chat App</title>
</head>

<body>
    <h1 id="room">Welcome to chat room {{ room }} {{ username }}</h1>

    <div id="messages"></div>

    <form id="message_input_form">
        <input type="text" id="message_input" placeholder="Enter your message here">
        <button type="submit">Send</button>
    </form>
</body>

</html>